html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:#f1f2df;
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}


h1{
text-align:center;
color:#6600CC;
}
p{
font-family:serif;
font-size:25px;
text-align:center;
}
caption{
font-size:35px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  align:center;
}
 td {
  font-family:Verdana;
  padding: 5px;
  text-align: center;
  font-size:25px;
}
th{
  font-family:Verdana;
  font-size:25px;
  color:navy;
  padding: 5px;
  text-align: center;
}
table.center {
  margin-left:100px; margin-right:100px;
 }

 img{
  position:absolute;
  }

button{
  font-size: 50px;
  position: relative;
  top:200px;
  right:300px;
  font-style: italic;
  background-color: cyan;
}
